@model IEnumerable<GymProject.AppLogic.Models.Classes>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url('/img/classes.jpg') center no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }



    .table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        margin-top: 50px;
    }

        .table th {
            border-bottom: 3px solid black;
            height: 30px;
            font-size: x-large;
            font-family: "Times New Roman", Times, serif;
        }

        .table td {
            font-size: large;
            color: rgba(255, 255, 255, 0.637);
            font-family: "Times New Roman", Times, serif;
            border-bottom: 3px solid rgba(255, 255, 255, 0.342);
        }

            .table td:hover {
                color: white;
            }

    tbody {
        margin-left: 30px;
    }
</style>
<h1 style="color: white;">Classes</h1>

<h1>Index</h1>
@if (signInManager.IsSignedIn(User))
{
    var user = await userManager.GetUserAsync(User);
    if (await userManager.IsInRoleAsync(user, "Administrator"))
    {
        <p>
            <a asp-action="AddClass">Create New</a>
        </p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th style="color: white;">
                Name
            </th>
            <th style="color: white;">
                Hour
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @item.ClassName
                </td>
                <td>
                    @item.HourClass
                </td>
                @if (signInManager.IsSignedIn(User))
                {
                    var user = await userManager.GetUserAsync(User);
                    if (await userManager.IsInRoleAsync(user, "Administrator"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
