
@{
    ViewData["Title"] = "Empty";
}


<a asp-action="AddTrainer">Create New Trainer</a>
<table>
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>Surname</td>
            <td>Class</td>
        </tr>
    </thead>
</table>
