@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    body {
        font-family: Tahoma, Geneva, sans-serif;
        color: #fff;
        background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url('/img/cong.jpg');
        background-size: cover;
    }
    #tit {
        margin-left: 530px;
    }

    form {
        width: 240px;
        text-align: center;
        margin-left: 600px;
    }
    .forget a {
        color: crimson;
        text-decoration: blink;
        font-size: 15px;
        font-family: Tahoma, Geneva, sans-serif;
        margin-left: 45px;
    }

    .forget {
        background: rgba(44,62,80,0.7);
        padding: 40px;
        width: 320px;
        height: 350px;
        margin-left: 180px;
        margin: 0 auto;
        margin-top: 120px;
    }

        .forget h2 {
            margin-top: 10px;
            margin-left: 10px;
        }

    input[type=text] {
        width: 240px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        font-family: 'Play', sans-serif;
        font-size: 16px;
        font-weight: 200px;
        padding: 10px 0;
        transition: border 0.5s;
        text-align: center;
        color: white;
    }

    input[type=button] {
        border: none;
        background: white;
        color: black;
        font-size: 16px;
        line-height: 25px;
        padding: 10px 0;
        border-radius: 12px;
        cursor: pointer;
        width: 180px;
        margin-left: 30px;
        margin-bottom: 15px;
    }

        input[type=button]:hover {
            background: black;
            color: white;
        }

    ::placeholder {
        color: aliceblue;
        opacity: 0.8; /* Firefox */
    }
    button {
        width: 80px;
        height: 40px;
        box-shadow: 0 5px 25px rgba(0,0,0,.5);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.349);
    }

        button:hover {
            background-color: cyan;
        }
    #email{
        margin-left: 640px;
    }
</style>
<h1 id="tit">@ViewData["Title"]</h1>
<h4 id="email">Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
