
@{
    ViewData["Title"] = "Index";
}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gym Project</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/css.css">
        <link rel="stylesheet" href="~/css/p.css">
        <link rel="stylesheet" href="~/css/corporate.css">


    </head>

<div class="body">
    <div class="first">
        <h1>Let's have a healphier life</h1>
        <h3>It is important to remain healthy and active throughout life, especially as you age. Staying fit can add years to your lifespan and will markedly improve your overall well-being. There are so many diet gurus and exercise regimens out there that staying fit can seem like a daunting task, but it is really quite simple if you stick to the basics. As a general rule, it takes about two months for a behavior to become a habit. Try making a few changes that you think you will be able to manage, and then stick to them for a couple of months until they become part of your natural routine</h3>
    </div>
    <div class="imagebck">
        <h1>Why do we have to encourage our employees to movement? </h1>
        <h2>
            <span>&#10003;</span> It improves the physical and mental health of your team, so that your company can grow more easily.
        </h2>
        <h2>
            <span>&#10003;</span> Healthy employees have better results
        </h2>
        <h2><span>&#10003;</span>An active lifestyle reduces health problems</h2>
        <h2><span>&#10003;</span>Regular workouts improve concentration power</h2>
        <h2>
            <span>&#10003;</span>
            Helps improve morale and self-confidence
        </h2>
        <h2>
            <span>&#10003;</span>
            Reduces stress and anxiety
        </h2>
        <h2>
            <span>&#10003;</span>
            Improves overall health by reducing medical leave
        </h2>
        <h2>
            <span>&#10003;</span>
            It is an attractive and practical benefit
        </h2>
        <h2>
            <span>&#10003;</span>
            Creates a more pleasant working environment
        </h2>
        <h2>
            <span>&#10003;</span>
            Increase your team's productivity
        </h2>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>




<div class="styledot">
    <div class="paragraph">
        <h1>4 REASONS TO WORK WITH STAYUPTOLIFT</h1>
        <p>We have a vast experience in keeping our members motivated and fit. We can do the same for your team!</p>
    </div>
</div>
<div class="dot">
    <div class="dot1">
        <p class="number"> 1 </p><br>
        <p class="dottext">CLUB</p>
    </div>
    <div class="dot2">
        <p class="number"> 4 </p><br>
        <p class="dottext">FITNESS GYM</p>
    </div>
    <div class="dot3">
        <p class="number"> 7 </p><br>
        <p class="dottext">TRAINERS</p>
    </div>
    <div class="dot4">
        <p class="number"> 2 </p><br>
        <p class="dottext">STUDIO CYCLING</p>
    </div>

</div>
<div class="offer">
    <p>Request offer</p>
    <h3>
        We offer personalized offers to each company, we find solutions that are beneficial for both the company and its employees. For offers and details on corporate subscriptions, fill out the form below and we will contact you as soon as possible.
    </h3>
    <div class="request">
        <div class="form">
            <div class="info-left">
                <div class="info">

                    <input type="text" id="name" placeholder="Name:">
                </div>
                <div class="info">

                    <input type="text" id="surname" placeholder="Surname:">
                </div>
                <div class="info">

                    <input type="text" id="phonenumber" placeholder="Phonenumber">
                </div>
            </div>
            <div class="info-right">
                <div class="info">

                    <input type="email" id="email" placeholder="Email">
                </div>
                <div class="info">

                    <input type="text" id="company" placeholder="Company's Name">
                </div>
                <div class="info">

                    <input type="text" id="employee" placeholder="Number of employess">
                </div>
                <button class="button no-outline">SEND REQUEST</button>
            </div>
        </div>
    </div>
</div>
<div class="contact">
    <p>Contact Info</p>
    <h3>
        StayUpToLift has a fitness center in Craiova, where you can train in large spaces, with modern appliances and professional personal trainers. No matter what type of training you want to follow, we will surely be able to overcome your limits and reach your goals.
    </h3>
</div>
