@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@inject SignInManager<IdentityUser> signInManager

<ul class="navbar-nav flex-grow-1">
    @if (signInManager.IsSignedIn(User))
    {
        var user = await userManager.GetUserAsync(User);
        if (await userManager.IsInRoleAsync(user, "Administrator"))
     {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="Index">Administrator</a>
    </li>
     }
    }
</ul>
